<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>games</mat-icon>
  </button>
  <span>Pokedex</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn">
    <mat-icon>add</mat-icon>Nuevo Pokemon
  </button>
</mat-toolbar>
<section class="content">
  <mat-card>
    <mat-card-content>
      <div class="col">
        <div class="col-lg-10 ">
          <div class="col-md-3 ">
            <label for="exampleFormControlInput1" class="form-label">Listado de Pokemon</label>
            <input type="text" class="form-control" matInput (keyup)="filter($event)" id="exampleFormControlInput1"
                   placeholder="Busca por nombre">
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
<router-outlet></router-outlet>




