<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>games</mat-icon>
  </button>
  <span>Pokedex</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="addNew()">
    <mat-icon>add</mat-icon>
    Nuevo Pokemon
  </button>
</mat-toolbar>
<section class="content">
  <mat-card class="border-apply border-5 margin-0 padding-0 mt-4">
    <mat-card-content>
      <div class="col-md-10 mg-5">
        <div class="col-lg-10 ">
          <div class="col-md-3 ">
            <label for="exampleFormControlInput1" class="form-label">Listado de Pokemon</label>
            <input type="text" class="form-control" matInput (keyup)="filter($event)" id="exampleFormControlInput1"
                   placeholder="Busca por nombre">
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <div class="col-auto p-3 d-flex justify-content-center">
      <mat-card-content>
        <ngx-datatable
          style="width: 100%"
          [columns]="columns"
          [columnMode]="'standard'"
          [headerHeight]="70"
          [footerHeight]="70"
          rowHeight="auto"
          [limit]="10"
          [rows]="rows"
          class="material"
          (page)="loadTableData()">
          <ngx-datatable-column name="Actions">
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
              <button mat-icon-button color="accent" title="Editar" (click)="editPokemon(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="text-success" title="Eliminar" (click)="deletePokemon(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Name" prop="name" >

          </ngx-datatable-column>
          <ngx-datatable-column name="Image" prop="image" >
            <ng-template #editTmpl let-row="row" let-value="value" ngx-datatable-cell-template>
              <img alt="test" *ngIf="value === 'image'" width="150" src="image.prop" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Attack" prop="attack" >

          </ngx-datatable-column>
          <ngx-datatable-column name="Defense" prop="defense" >

          </ngx-datatable-column>

        </ngx-datatable>
      </mat-card-content>
    </div>
  </mat-card>
</section>
<router-outlet></router-outlet>







